<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header_panel">
          <div class="row">
            <div class="col-6"><a class="logo" href="\"></a></div>
            <div class="col-6">
              <div class="grid_icon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="container-fluid">


  <app-home-tab [tablist]="tablList"></app-home-tab>
  <!--<div id="PropertyMenu" class="box_menu" (mouseover)="mouseOverActive('PropertyMenu')"
       (mouseout)="mouseOutActive()">
    <a class="icon_property">
      <span>
        <label id="Literal2">Building</label>
      </span>
    </a>
    <ul [ngClass]="{'anim':currentActiveTab=='PropertyMenu'}">
      <li>
        <a id="PropertySearchMenu" href="#">
          <label id="Literal2">Search</label>
        </a>
      </li>

      <li>
        <a id="AddNewPropertyMenu" href="#">
          <label id="Literal2">AddProperty</label>
        </a>
      </li>

      <li id="MyProjectMenu" visible="true">
        <a href="/BLD_Project_View_JP.aspx">
          <label id="Literal2">BuldingMyProject</label>
        </a>
      </li>
    </ul>
  </div>
  <div id="Lease_div" class="box_menu" (mouseover)="mouseOverActive('Lease_div')"
       (mouseout)="mouseOutActive()">
    <a class="icon_lease">
      <span>
        <label id="Literal3">Lease</label>
      </span>
    </a>
    <ul [ngClass]="{'anim':currentActiveTab=='Lease_div'}">
      <li>
        <a id="LeaseSearchMenu" href="#">
          <label id="Literal3">LeaseSearch</label>
        </a>
      </li>
    </ul>
  </div>
  <div id="QuickEntry_div" class="box_menu">
    <a href="" class="icon_quickentry">
      <span>
        <label id="Literal3">QuickEntry</label>
      </span>
    </a>
  </div>
  <div id="Reports_div" class="box_menu" (mouseover)="mouseOverActive('Reports_div')"
       (mouseout)="mouseOutActive()">
    <a class="icon_reports">
      <span>
        <label id="Literal3">Reports</label>
      </span>
    </a>
    <ul [ngClass]="{'anim':currentActiveTab=='Reports_div'}">
      <li>
        <a id="CreateReportMenu" href="#">
          <label id="Literal3">EnquiryProjectReport</label>
        </a>
      </li>
      <li>
        <a id="RptDiv" href="/RPT_Reports.aspx">
          <label id="Literal3">GridReport</label>
        </a>
      </li>
      <li id="TableauReportMenu">
        <a id="hlTableauReport" href="/RPT_TableauDownload.aspx">
          TableauReport
        </a>
      </li>
      <li id="LiRPTTableauDashboard">
        <a id="RPTTableauDashboard" visible="false" href="/RPT_TableauDashboard.aspx">
          <label id="Literal3">RPTTableauDashboard</label>
        </a>
      </li>
    </ul>
  </div>
  <div id="Clients" class="box_menu" (mouseover)="mouseOverActive('Clients')"
       (mouseout)="mouseOutActive()">
    <a class="icon_crm">
      <span class="two_line">
        <label id="Literal3">AccountsandContacts</label>
      </span>
    </a>
    <ul [ngClass]="{'anim':currentActiveTab=='Clients'}">
      <li>
        <a id="AccountsContacts" href="/SRC_AccountContact.aspx">
          <label id="Literal3">AccountsandContacts</label>
        </a>
      </li>
    </ul>

  </div>
  <div id="RetailBrands_div" class="box_menu" (mouseover)="mouseOverActive('RetailBrands_div')"
       (mouseout)="mouseOutActive()">
    <a class="icon_retail">
      <span>
        <label id="Literal3">RetailBrands</label>
      </span>
    </a>
    <ul [ngClass]="{'anim':currentActiveTab=='RetailBrands_div'}">
      <li>
        <a id="Brands" href="/SRC_Brand.aspx">
          <label id="Literal3">Brands</label>
        </a>
      </li>
      <li>
        <a id="Stores" href="/SRC_Store.aspx">
          <label id="Literal3">Stores</label>
        </a>
      </li>
    </ul>
  </div>
  <div id="MySecurity" class="box_menu" visible="false">
    <a href="/EMP_Security.aspx" class="icon_security">
      <span>
        <label id="Literal3">Security</label>
      </span>
    </a>
  </div>
  <div id="Maintenance_div" class="box_menu" (mouseover)="mouseOverActive('Maintenance_div')"
       (mouseout)="mouseOutActive()">
    <a class="icon_maintenance">
      <span>
        <label id="Literal3">Maintenance</label>
      </span>
    </a>
    <ul [ngClass]="{'anim':currentActiveTab=='Maintenance_div'}">
      <li>
        <a id="UploadTableauFiles" href="/RPT_TableauUpload.aspx">UploadTableauFiles</a>
      </li>
      <li>
        <a id="DedupeAdmin" href="/Dedupe/Index#/Accounts">Deduplication</a>
      </li>
      <li>
        <a id="SalesForceIntegrationLog" href="/ApplicationLog/Index#/Accounts">SalesForceIntegrationLog</a>
      </li>
      <li>
        <a id="ManageAddress" href="/Adr_ManageAddress.aspx">ManageAddress</a>
      </li>
    </ul>
  </div>-->

</section>
